@model RegisterModel
<h1>Register</h1>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="row fw-bold">
        <div class="col-md-12">
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="FirstName" />
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="LastName" />
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="UserName"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="UserName" />
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="Email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="Password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="RePassword"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="RePassword" />
                </div>
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-10 offset-2">
                    <button class="btn btn-continue" style="width:211px"  type="submit">Register</button>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }