@model List<Bus>

<h1 class="display-5 text-dark">Bus List</h1>
<hr />
<div>
    <a class="btn btn-sm btn-create" asp-controller="Admin" asp-action="BusCreate">Create Bus</a>
    @* @if (Model.Count > 0)
    {
    @if (ViewBag.IsDeleted)
    {
    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="AllTripList" asp-route-isDeleted="false">Show Undeleted Products</a>
    }
    else
    {
    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="AllTripList" asp-route-isDeleted="true">Show Deleted Products</a>
    }
    }
    else{
    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="AllTripList" asp-route-isDeleted="false">Show Undeleted Products</a>
    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="AllTripList" asp-route-isDeleted="true">Show Deleted Products</a>
    }

    *@

</div>
<hr />
@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Seat Capacity</th>                
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bus in Model)
            {
                <tr>

                    <td>@bus.BusId</td>
                    <td>@bus.SeatCapacity</td>                    
                    <td>
                        <a asp-controller="Admin"
                   asp-action="BusEdit"
                   asp-route-id=@bus.BusId
                   class="btn btn-sm btn-edit">Edit</a>
                        <button type="button" class="btn btn-sm btn-continue fw-bold btn-delete" data-bs-toggle="modal" data-bs-target="#DeleteModal_@bus.BusId">
                            Delete
                        </button>
                        <div class="modal fade" id="DeleteModal_@bus.BusId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">This bus will be deleted!</p>
                                        <p>Are you sure?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <a asp-controller="Admin"
                                   asp-action="BusDelete"
                                   asp-route-id=@bus.BusId
                                   class="btn btn-danger">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>


                </tr>
            }
        </tbody>
    </table>
}
else
{

    ;
}
