@model ChangePasswordModel
<h1>Change Password</h1>
<hr />
<form asp-controller="Admin" asp-action="ChangeUserPassword" method="post">
    <input type="hidden" name="UserId" value=@Model.UserId />
    <div class="row fw-bold">
        <div class="col-md-12">
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="NewPassword"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="NewPassword" />
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-md-2">
                    <label asp-for="ReNewPassword"></label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="ReNewPassword" />
                </div>
                <span asp-validation-for="ReNewPassword" class="text-danger"></span>
            </div>

            <div class="form-group row mb-2">
                <div class="col-md-10 offset-2">
                    <button class="btn btn-continue" type="submit">Change Password</button>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }