<div class="row font-monospace justify-content-between  ">
    <div class="col-6">
        <a asp-controller="Admin" asp-action="AllTripList" class="btn btn-sm btn-secondary fw-bold">Admin Trips</a>

    </div>
    <div class="col-6">
        <a asp-controller="Admin" asp-action="BusList" class="btn btn-sm btn-secondary fw-bold">Admin Buses</a>

    </div>
</div>
