
<div class="row">
    <div class="col-md-5">
        <h2>Please Select Seat</h2>
    </div>
    <div class="col-md-7 p-0">
        <img src="https://dk0aj6exl04pb.cloudfront.net/shopSeatReservation/68472595450e732ceb91b0410b8e5d5f.png" style="height:50" />

    </div>
</div>



<div class="bus">
    <div id="selectedseataDisplay">
    </div>
    <div class="inner">
        <div class="leftside text-center">
            <div id="s1" class="seat1">1</div>
            <div id="s2" class="seat2">2</div>
            <div id="s3" class="seat3">3</div>
            <div id="s4" class="seat4">4</div>
            <div id="s5" class="seat5">5</div>
            <div id="s6" class="seat6">6</div>
            <div id="s7" class="seat7">7</div>
            <div id="s8" class="seat8">8</div>
            <div id="s9" class="seat9">9</div>
            <div id="s10" class="seat10">10</div>
            <div id="s11" class="seat11">11</div>
            <div id="s12" class="seat12">12</div>
            <div id="s13" class="seat13">13</div>
            <div id="s14" class="seat14">14</div>
            <div id="s15" class="seat15">15</div>
            <div id="s16" class="seat16">16</div>
            <div id="s17" class="seat17">17</div>
            <div id="s18" class="seat18">18</div>
            <div id="s19" class="seat19">19</div>
            <div id="s20" class="seat20">20</div>
        </div>
        <div class="rightside text-center">
            <div id="s21" class="seat21">21</div>
            <div id="s22" class="seat22">22</div>
            <div id="s23" class="seat23">23</div>
            <div id="s24" class="seat24">24</div>
            <div id="s25" class="seat25">25</div>
            <div id="s26" class="seat26">26</div>
            <div id="s27" class="seat27">27</div>
            <div id="s28" class="seat28">28</div>
            <div id="s29" class="seat29">29</div>
            <div id="s30" class="seat30">30</div>
            <div id="s31" class="seat31">31</div>
            <div id="s32" class="seat32">32</div>
            <div id="s33" class="seat33">33</div>
            <div id="s34" class="seat34">34</div>
            <div id="s35" class="seat35">35</div>
            <div id="s36" class="seat36">36</div>
            <div id="s37" class="seat37">37</div>
            <div id="s38" class="seat38">38</div>
            <div id="s39" class="seat39">39</div>
            <div id="s40" class="seat40">40</div>
        </div>
    </div>
</div>
<script>
    const selectedSeat = [];
    document.addEventListener('click', function (e) {
        e = e || window.event;
        const target = e.target || e.srcElement,
            text = target.className;
        let seatNumber = text;
        document.getElementsByClassName(seatNumber)[0].classList.toggle('selected');
        textID = target.id;
        if (document.getElementById(textID).classList.contains("selected")) {
            selectedSeat.push(text);
        }
        else {
            let seatTo = text.split(" ");
            let seatToRemove = seatTo[0];
            for (let i = 0; i < selectedSeat.length; i++) {
                if (selectedSeat[i] === seatToRemove) {
                    selectedSeat.splice(i, 1);
                }
            }
        }
        console.log('selectedSeat are ', selectedSeat);
        document.getElementById('selectedseataDisplay').innerHTML = '';
        for (let j = 0; j < selectedSeat.length; j++) {
            document.getElementById('selectedseataDisplay').innerHTML += "<li>" + selectedSeat[j] + "</li>";
        }

    }, false);
</script>
