@model TicketModel

<div class="card " style="background-color:#73d71e">
    <div class="card-body">

        
        <div class="row justify-content-between ">
            @*bilet basliği*@
            <div class="col-md-7 ">
                <h3>Ticket</h3>
            </div>
            <div class="col-md-5 text-end pe-5">
                <img src="/images/bu.png" height="50" />
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-md-2">
              @Model.FirstName
            </div>
        </div>
    </div>

</div>