@model TicketReservationModel
<form asp-controller="Home" asp-action="TicketReservation" method="post">

    <input name="BusId" type="hidden" value=@Model.BusId />
    <input name="TripId" type="hidden" value=@Model.TripId />

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body ">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 mt-3 text-center">Passenger Info</h3>
                    <div class="form-group row mb-2">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="FirstName">First Name</label>
                        </div>
                        <div class="col-md-9 ">
                            <input style="width:21rem" class="container-fluid " type="text" asp-for="FirstName" />
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger ms-1"></span>

                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="LastName">Last Name </label>
                        </div>
                        <div class="col-md-9">
                            <input style="width:21rem" class="container-fluid" type="text" asp-for="LastName" />

                        </div>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="Email">Email</label>
                        </div>
                        <div class="col-md-9">
                            <input style="width:21rem" class="container-fluid" type="email" asp-for="Email" />

                        </div>
                        <span asp-validation-for="Email" class="text-danger ms-1"></span>

                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="PhoneNumber">Phone Number</label>
                        </div>
                        <div class="col-md-9">
                            <input style="width:21rem" class="container-fluid" type="tel" asp-for="PhoneNumber" />

                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger ms-1"></span>

                        <div class="col-md-3 fw-bold">
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <div class="col-md-3 d-flex align-items-center">
                            <label class="fw-bold">Seat Number</label>
                        </div>
                        <div class="col-md-9">
                            <select style="width:21rem" class="form-select" name="seatNumber">
                                <option selected disabled>Select Seat</option>

                                @foreach (var item in ViewBag.SeatNumbers)
                                {
                                    <option>@item</option>
                                }

                            </select>
                        </div>
                    </div>  
                    <hr />
                    <h3 class="mb-3 pb-2 pb-md-0 mb-md-5 mt-5 text-center">Payment Info</h3>
                    <div class="form-group row mb-2">
                        <div class="col-md-3 fw-bold">
                            <label class="form-label" asp-for="CardNumber">Card Number</label>

                        </div>
                        <div class="col-md-9 ">
                            <input asp-for="CardNumber" type="text" class="form-control form-control-md" />

                        </div>
                        <span asp-validation-for="CardNumber" class="text-danger ms-1"></span>
                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="ExpireMonth" class="form-label">Expiration Month</label>

                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-md" asp-for="ExpireMonth" />

                        </div>
                        <span asp-validation-for="ExpireMonth" class="text-danger"></span>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-md-3 fw-bold">
                            <label class="form-label" asp-for="ExpireYear">Expiration Year</label>

                        </div>
                        <div class="col-md-9">
                            <input asp-for="ExpireYear" type="text" class="form-control form-control-md" />
                        </div>
                        <span asp-validation-for="ExpireYear" class="text-danger ms-1"></span>
                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="Cvc" class="form-label">Cvc</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-md" asp-for="Cvc" />
                        </div>
                        <span asp-validation-for="Cvc" class="text-danger ms-1"></span>

                        <div class="col-md-3 fw-bold">
                        </div>
                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="CardHolderName" class="form-label">Card Holder Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-md" asp-for="CardHolderName" />

                        </div>
                        <span asp-validation-for="CardHolderName" class="text-danger ms-1"></span>

                        <div class="col-md-3 fw-bold">
                        </div>
                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="IdentityNumber" class="form-label">Identity Number</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-md" asp-for="IdentityNumber" />

                        </div>
                        <span asp-validation-for="IdentityNumber" class="text-danger ms-1"></span>

                        <div class="col-md-3 fw-bold">
                        </div>
                    </div>
                    <div class="form-group row mb-2 ">
                        <div class="col-md-3 fw-bold">
                            <label asp-for="Price" class="form-label fw-bold">Price :</label>
                        </div>
                        <div class="col-md-9">
                            <label asp-for="Price">@Model.Price ₺</label>
                        </div>
                        <div class="col-md-3 fw-bold">
                        </div>
                    </div>
                    <div class="form-group row mt-3 ms-5 ">
                        <div class="col-md-9 offset-3 ">
                            @*<a asp-controller="Home" asp-action="TicketReservation" asp-route-id="@Model.TripId" class="btn btn-continue" type="submit">Continue</a>*@
                            <button class="btn btn-continue container-fluid " style="width:336px" type="submit">Continue  ></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}