html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Sono', sans-serif;
}

.btn-continue {
    background-color: #73d71e;
    color:white;
    font-weight:bold;
    font-family:monospace;
}

    .btn-continue:hover {
        background-color: #61b41a;
        color: white;
        font-size: 17px;
    }
    

.logo {
    color:white;
    text-align:center;
    font-weight:600;
}
